* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}
html {
	scroll-behavior: smooth;
}
nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.home {
    margin-bottom: 50px;
}

.logo {
    margin-top: 10px;
    margin-bottom: 5px;
}

.logo :hover {
    cursor: pointer;
}

.logo img{
    height: 50px;

}

ul {
    display: flex;
    list-style: none;
    color: rgb(255, 255, 255);
    height: 100%;
}

.navlink {
    display: flex;
    margin-left: 20px;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

li[name="btn"] {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 5px;
    background-color: rgb(241, 173, 0);
    text-decoration-color: rgba(255, 255, 255, 1);
}

li[name="btn"] :hover{
    cursor: pointer;
    transition: none;
}

a {
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}

a:visited {
    color: white;
}
a:hover{
    text-decoration-color: rgba(241, 173, 0, 1);
    cursor: pointer;
}
.image {
    height: 532px;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}
.image img{
    max-width: 100%;
}

.image .title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #000000;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

.image .sub{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 70%);
    font-size: 30px;
    font-weight: lighter;
    text-shadow: 2px 2px 4px #000000;
    animation: myAnim 5s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY();
	}

	100% {
		opacity: 1;
		transform: translateY();
	}
}
.pqnos {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    margin-bottom: 100px;
}
.pqnos h1 {
    font-size: 50px;
    font-weight: 200;
}

.pqnos h4 {
    color: #7E92AC;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 40px;
}

.caixas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0px 0px 15px 1px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
    width: 30%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: left;
    height: 100%;
}
.box p{
    color: #7E92AC;
    flex:1 0 auto;
    flex-grow: 1;
    font-size: 17px;
}


.box > ion-icon {
    padding: 10px;
    border-radius: 16px;
    font-size: 30px;
    margin-bottom: 20px;
    background-color: rgba(241, 185, 0, 0.35);
}

.contato {
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;

}

.contato section{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contato > section > div{
    width: 40%;
}

.endereco {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(241, 173, 0, 1);
}
.endereco h1{
    font-size: 30px;
}

.endereco ion-icon {
    font-size: 30px;
    border-radius: 16px;
    padding: 10px;

}
.form h1{
    color: rgba(241, 173, 0, 1);
    font-size: 40px;
    margin-bottom: 20px;
}
.form label{
    color: white;
    font-size: 25px;
    margin-bottom: 0px;
}
.form input {
    width: 100%;
    border-radius: 10px;
    padding: 6px;
}
.form div{
    margin-bottom: 40px;
}
.form ion-icon{
    color: rgba(241, 173, 0, 1);
    font-size: 40px;
}
.form a{
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
.media {
    display: flex;
    align-items: center;
}
iframe{
    border-radius: 16px;
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    height: 50px;
    background-color: rgba(241, 173, 0, 1);
}